<div class="row">
    <div class="col-md-3">
        <h4>Select a blog</h4><br />
        <div class="btn-group-vertical col-md-12" id="userlist">

        </div>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-success btn-lg btn-block" id="AddPost" onclick="OpenModal()">Add post</button>
        <div id="posts" style="display:none">
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="modal fade" id="AddModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-align:center">Add a post</h3>
            </div>
            <div class="modal-body" style="padding: 40px">
                <form role="form">
                    <label for="title">Post title</label>
                    <input type="text" id="title" class="form-control"/>
                    <label for="text">Post text</label>
                    <input type="text" id="text" class="form-control"/>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-block btn-success pull-right" id="Add"> Save</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
                var user = sessionStorage.getItem("username");
                GetUsers();
                blog(user);
            }
        );

        function GetUsers() {
            $.ajax({
                url: '/api/values',
                type: 'GET',
                dataType: 'json',
                beforeSend: function(xhr) {
                    var token = sessionStorage.getItem("tokenInfo");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function(data) {
                    WriteResponse(data);
                }
            });
        }

        function WriteResponse(users) {
            var result = '';
            var user = sessionStorage.getItem("username");
            $.each(users, function(index, username) {
                if (user === username) {
                    result += '<button id="getblog" data-item="' + username + '" onclick="blog(this)" class="btn btn-info btn-block"> Your blog </button>';
                } else {
                    result += '<button id="getblog" data-item="' + username + '" onclick="blog(this)" class="btn btn-primary btn-block">' + username + '</button>';
                }
            });
            $('#userlist').html(result);
        }

        function WritePosts(posts) {
            var result = '';
            $.each(posts, function(index, post) {
                result += '<div class="well well-sm" style="margin-top:10px"><h4 class="pull-right">' +
                    post.Username + ' wrote at ' +
                    post.Created.substr(0, 10) + '</h4><h3><i>' +
                    post.Title + '</i></h3><br /><h4>' + '\t' +
                    post.Text + '</h4><a id="editPost" data-item="' +
                    post.Id + '" class="btn btn-danger pull-left" onclick="DeletePost(this)">Delete</a><a id="editPost" data-item="' +
                    post.Id + '" class="btn btn-default pull-right" onclick="EditPost(this)">Edit</a><br/><br/></div>';
            });
            $('#posts').html(result);
        }

        function getposts(username) {
            var adr = '/api/values?username=' + username;
            $.ajax({
                url: adr,
                type: 'GET',
                dataType: 'json',
                beforeSend: function(xhr) {
                    var token = sessionStorage.getItem("tokenInfo");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function(data) {
                    $('#posts').css('display', 'block');
                    WritePosts(data);
                }
            });
        }

        function blog(a) {
            var username = $(a).attr('data-item');
            getposts(username);
        }

        $(function() {
            $('#Add').click(function(event) {
                event.preventDefault();
                AddPost();
                var user = sessionStorage.getItem("username");
                getposts(user);
            });
        });

        function AddPost() {
            var item = {
                Title: $('#title').val(),
                Text: $('#text').val()
            };

            $.ajax({
                url: '/api/values/',
                type: 'POST',
                data: JSON.stringify(item),
                contentType: "application/json;charset=utf-8",
                beforeSend: function(xhr) {
                    var token = sessionStorage.getItem("tokenInfo");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function() {
                    $("#AddModal").modal("hide");
                    var user = sessionStorage.getItem("username");
                    getposts(user);
                },
                fail: function() {
                    $("#AddModal").modal("hide");
                    alert('Failed to add post');
                },
                error: function(x, y, z) {
                    $("#AddModal").modal("hide");
                    alert(x + y + z, item.Title, item.Text, item.Created);
                }
            });
        }

        function DeleteItem(id) {
            $.ajax({
                url: '/api/values?id=' + id,
                type: 'DELETE',
                contentType: 'application/json;charset=utf-8',
                beforeSend: function (xhr) {
                    var token = sessionStorage.getItem("tokenInfo");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function() {
                    var user = sessionStorage.getItem("username");
                    blog(user);
                },
                error: function() {
                    alert('Error occured while deleting');
                }
            });
        }

        function DeletePost(el) {
            var id = $(el).attr('data-item');
            DeleteItem(id);
        }

        function OpenModal() {
            $("#AddModal").modal();
        };
    </script>
}